@font-face{font-family:'icomoon';src:url('fonts/icomoon.eot?nynjy0');src:url('fonts/icomoon.eot?nynjy0#iefix') format('embedded-opentype'),
url('fonts/icomoon.ttf?nynjy0') format('truetype'),
url('fonts/icomoon.woff?nynjy0') format('woff'),
url('fonts/icomoon.svg?nynjy0#icomoon') format('svg');font-weight:normal;font-style:normal;}
[class^="icon-"], [class*=" icon-"]{font-family:'icomoon' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-applicationmanagement .path1:before{content:"\e900";color:rgb(255, 64, 0);}
.icon-applicationmanagement .path2:before{content:"\e901";margin-left:-1em;color:rgb(255, 64, 0);}
.icon-applicationmanagement .path3:before{content:"\e902";margin-left:-1em;color:rgb(51, 51, 51);}
.icon-backoffice .path1:before{content:"\e903";color:rgb(51, 51, 51);}
.icon-backoffice .path2:before{content:"\e904";margin-left:-1.2890625em;color:rgb(255, 64, 0);}
.icon-backoffice .path3:before{content:"\e905";margin-left:-1.2890625em;color:rgb(255, 64, 0);}
.icon-benefitvalidation .path1:before{content:"\e906";color:rgb(25, 25, 25);}
.icon-benefitvalidation .path2:before{content:"\e907";margin-left:-0.8251953125em;color:rgb(25, 25, 25);}
.icon-benefitvalidation .path3:before{content:"\e908";margin-left:-0.8251953125em;color:rgb(25, 25, 25);}
.icon-benefitvalidation .path4:before{content:"\e909";margin-left:-0.8251953125em;color:rgb(25, 25, 25);}
.icon-benefitvalidation .path5:before{content:"\e90a";margin-left:-0.8251953125em;color:rgb(25, 25, 25);}
.icon-benefitvalidation .path6:before{content:"\e90b";margin-left:-0.8251953125em;color:rgb(25, 25, 25);}
.icon-benefitvalidation .path7:before{content:"\e90c";margin-left:-0.8251953125em;color:rgb(25, 25, 25);}
.icon-benefitvalidation .path8:before{content:"\e90d";margin-left:-0.8251953125em;color:rgb(25, 25, 25);}
.icon-benefitvalidation .path9:before{content:"\e90e";margin-left:-0.8251953125em;color:rgb(255, 64, 0);}
.icon-benefitvalidation .path10:before{content:"\e90f";margin-left:-0.8251953125em;color:rgb(255, 64, 0);}
.icon-benefitvalidation .path11:before{content:"\e910";margin-left:-0.8251953125em;color:rgb(255, 64, 0);}
.icon-benefitvalidation .path12:before{content:"\e911";margin-left:-0.8251953125em;color:rgb(25, 25, 25);}
.icon-benefitvalidation .path13:before{content:"\e912";margin-left:-0.8251953125em;color:rgb(255, 64, 0);}
.icon-benefitvalidation .path14:before{content:"\e913";margin-left:-0.8251953125em;color:rgb(255, 64, 0);}
.icon-BIAnalytics .path1:before{content:"\e914";color:rgb(255, 64, 0);}
.icon-BIAnalytics .path2:before{content:"\e915";margin-left:-1em;color:rgb(255, 64, 0);}
.icon-BIAnalytics .path3:before{content:"\e916";margin-left:-1em;color:rgb(255, 64, 0);}
.icon-BIAnalytics .path4:before{content:"\e917";margin-left:-1em;color:rgb(255, 64, 0);}
.icon-BIAnalytics .path5:before{content:"\e918";margin-left:-1em;color:rgb(255, 64, 0);}
.icon-BIAnalytics .path6:before{content:"\e919";margin-left:-1em;color:rgb(255, 64, 0);}
.icon-BIAnalytics .path7:before{content:"\e91a";margin-left:-1em;color:rgb(25, 25, 25);}
.icon-bigdata .path1:before{content:"\e91b";color:rgb(51, 51, 51);}
.icon-bigdata .path2:before{content:"\e91c";margin-left:-0.7919921875em;color:rgb(51, 51, 51);}
.icon-bigdata .path3:before{content:"\e91d";margin-left:-0.7919921875em;color:rgb(51, 51, 51);}
.icon-bigdata .path4:before{content:"\e91e";margin-left:-0.7919921875em;color:rgb(51, 51, 51);}
.icon-bigdata .path5:before{content:"\e91f";margin-left:-0.7919921875em;color:rgb(255, 64, 0);}
.icon-bigdata .path6:before{content:"\e920";margin-left:-0.7919921875em;color:rgb(255, 64, 0);}
.icon-BPM .path1:before{content:"\e921";color:rgb(255, 64, 0);}
.icon-BPM .path2:before{content:"\e922";margin-left:-0.939453125em;color:rgb(25, 25, 25);}
.icon-BPM .path3:before{content:"\e923";margin-left:-0.939453125em;color:rgb(25, 25, 25);}
.icon-BPM .path4:before{content:"\e924";margin-left:-0.939453125em;color:rgb(25, 25, 25);}
.icon-BPM .path5:before{content:"\e925";margin-left:-0.939453125em;color:rgb(25, 25, 25);}
.icon-BPM .path6:before{content:"\e926";margin-left:-0.939453125em;color:rgb(25, 25, 25);}
.icon-ClaimsAnalytics .path1:before{content:"\e927";color:rgb(255, 64, 0);}
.icon-ClaimsAnalytics .path2:before{content:"\e928";margin-left:-1.4423828125em;color:rgb(25, 25, 25);}
.icon-ClaimsAnalytics .path3:before{content:"\e929";margin-left:-1.4423828125em;color:rgb(25, 25, 25);}
.icon-ClaimsAnalytics .path4:before{content:"\e92a";margin-left:-1.4423828125em;color:rgb(25, 25, 25);}
.icon-ClaimsAnalytics .path5:before{content:"\e92b";margin-left:-1.4423828125em;color:rgb(25, 25, 25);}
.icon-ClaimsAnalytics .path6:before{content:"\e92c";margin-left:-1.4423828125em;color:rgb(25, 25, 25);}
.icon-claimsmanagement .path1:before{content:"\e955";color:rgb(255, 64, 0);}
.icon-claimsmanagement .path2:before{content:"\e956";margin-left:-0.8857421875em;color:rgb(51, 51, 51);}
.icon-claimsmanagement .path3:before{content:"\e957";margin-left:-0.8857421875em;color:rgb(51, 51, 51);}
.icon-claimsmanagement .path4:before{content:"\e958";margin-left:-0.8857421875em;color:rgb(255, 255, 255);}
.icon-claimsmanagement .path5:before{content:"\e959";margin-left:-0.8857421875em;color:rgb(255, 255, 255);}
.icon-claimsmanagement .path6:before{content:"\e95a";margin-left:-0.8857421875em;color:rgb(255, 255, 255);}
.icon-ClaimsProcessing .path1:before{content:"\e95b";color:rgb(255, 64, 0);}
.icon-ClaimsProcessing .path2:before{content:"\e95c";margin-left:-0.998046875em;color:rgb(25, 25, 25);}
.icon-contractmanagement .path1:before{content:"\e95d";color:rgb(25, 25, 25);}
.icon-contractmanagement .path2:before{content:"\e95e";margin-left:-0.8759765625em;color:rgb(25, 25, 25);}
.icon-contractmanagement .path3:before{content:"\e95f";margin-left:-0.8759765625em;color:rgb(25, 25, 25);}
.icon-contractmanagement .path4:before{content:"\e960";margin-left:-0.8759765625em;color:rgb(25, 25, 25);}
.icon-contractmanagement .path5:before{content:"\e961";margin-left:-0.8759765625em;color:rgb(25, 25, 25);}
.icon-contractmanagement .path6:before{content:"\e962";margin-left:-0.8759765625em;color:rgb(25, 25, 25);}
.icon-contractmanagement .path7:before{content:"\e963";margin-left:-0.8759765625em;color:rgb(25, 25, 25);}
.icon-contractmanagement .path8:before{content:"\e964";margin-left:-0.8759765625em;color:rgb(25, 25, 25);}
.icon-contractmanagement .path9:before{content:"\e965";margin-left:-0.8759765625em;color:rgb(255, 64, 0);}
.icon-contractmanagement .path10:before{content:"\e966";margin-left:-0.8759765625em;color:rgb(255, 64, 0);}
.icon-contractmanagement .path11:before{content:"\e967";margin-left:-0.8759765625em;color:rgb(255, 64, 0);}
.icon-contractmanagement .path12:before{content:"\e968";margin-left:-0.8759765625em;color:rgb(255, 64, 0);}
.icon-customerretention .path1:before{content:"\e969";color:rgb(51, 51, 51);}
.icon-customerretention .path2:before{content:"\e96a";margin-left:-1.0791015625em;color:rgb(51, 51, 51);}
.icon-customerretention .path3:before{content:"\e96b";margin-left:-1.0791015625em;color:rgb(51, 51, 51);}
.icon-customerretention .path4:before{content:"\e96c";margin-left:-1.0791015625em;color:rgb(51, 51, 51);}
.icon-customerretention .path5:before{content:"\e96d";margin-left:-1.0791015625em;color:rgb(51, 51, 51);}
.icon-customerretention .path6:before{content:"\e96e";margin-left:-1.0791015625em;color:rgb(51, 51, 51);}
.icon-customerretention .path7:before{content:"\e96f";margin-left:-1.0791015625em;color:rgb(255, 64, 0);}
.icon-customerservice .path1:before{content:"\e970";color:rgb(25, 25, 25);}
.icon-customerservice .path2:before{content:"\e971";margin-left:-1.1962890625em;color:rgb(255, 64, 0);}
.icon-enrollment .path1:before{content:"\e92d";color:rgb(25, 25, 25);}
.icon-enrollment .path2:before{content:"\e92e";margin-left:-0.9130859375em;color:rgb(25, 25, 25);}
.icon-enrollment .path3:before{content:"\e92f";margin-left:-0.9130859375em;color:rgb(25, 25, 25);}
.icon-enrollment .path4:before{content:"\e930";margin-left:-0.9130859375em;color:rgb(25, 25, 25);}
.icon-enrollment .path5:before{content:"\e931";margin-left:-0.9130859375em;color:rgb(25, 25, 25);}
.icon-enrollment .path6:before{content:"\e932";margin-left:-0.9130859375em;color:rgb(25, 25, 25);}
.icon-enrollment .path7:before{content:"\e933";margin-left:-0.9130859375em;color:rgb(255, 64, 0);}
.icon-enrollment .path8:before{content:"\e934";margin-left:-0.9130859375em;color:rgb(255, 64, 0);}
.icon-enrollment .path9:before{content:"\e935";margin-left:-0.9130859375em;color:rgb(255, 64, 0);}
.icon-frauddetection .path1:before{content:"\e936";color:rgb(25, 25, 25);}
.icon-frauddetection .path2:before{content:"\e937";margin-left:-1.015625em;color:rgb(255, 64, 0);}
.icon-frauddetection .path3:before{content:"\e938";margin-left:-1.015625em;color:rgb(25, 25, 25);}
.icon-growyourrevenue .path1:before{content:"\e939";color:rgb(25, 25, 25);}
.icon-growyourrevenue .path2:before{content:"\e93a";margin-left:-1.4130859375em;color:rgb(255, 64, 0);}
.icon-growyourrevenue .path3:before{content:"\e93b";margin-left:-1.4130859375em;color:rgb(255, 64, 0);}
.icon-growyourrevenue .path4:before{content:"\e93c";margin-left:-1.4130859375em;color:rgb(255, 64, 0);}
.icon-growyourrevenue .path5:before{content:"\e93d";margin-left:-1.4130859375em;color:rgb(25, 25, 25);}
.icon-growyourrevenue .path6:before{content:"\e93e";margin-left:-1.4130859375em;color:rgb(25, 25, 25);}
.icon-growyourrevenue .path7:before{content:"\e93f";margin-left:-1.4130859375em;color:rgb(25, 25, 25);}
.icon-helpdesk .path1:before{content:"\e940";color:rgb(51, 51, 51);}
.icon-helpdesk .path2:before{content:"\e941";margin-left:-1em;color:rgb(51, 51, 51);}
.icon-helpdesk .path3:before{content:"\e942";margin-left:-1em;color:rgb(255, 64, 0);}
.icon-operation .path1:before{content:"\e943";color:rgb(25, 25, 25);}
.icon-operation .path2:before{content:"\e944";margin-left:-1.443359375em;color:rgb(255, 64, 0);}
.icon-operation .path3:before{content:"\e945";margin-left:-1.443359375em;color:rgb(255, 64, 0);}
.icon-Policyadministration .path1:before{content:"\e946";color:rgb(255, 64, 0);}
.icon-Policyadministration .path2:before{content:"\e947";margin-left:-0.7275390625em;color:rgb(25, 25, 25);}
.icon-Policyadministration .path3:before{content:"\e948";margin-left:-0.7275390625em;color:rgb(25, 25, 25);}
.icon-riskmanagement .path1:before{content:"\e949";color:rgb(25, 25, 25);}
.icon-riskmanagement .path2:before{content:"\e94a";margin-left:-1.0068359375em;color:rgb(255, 64, 0);}
.icon-riskmanagement .path3:before{content:"\e94b";margin-left:-1.0068359375em;color:rgb(255, 64, 0);}
.icon-savingcost .path1:before{content:"\e94c";color:rgb(255, 64, 0);}
.icon-savingcost .path2:before{content:"\e94d";margin-left:-0.91796875em;color:rgb(25, 25, 25);}
.icon-savingcost .path3:before{content:"\e94e";margin-left:-0.91796875em;color:rgb(255, 64, 0);}
.icon-structuringofdata .path1:before{content:"\e94f";color:rgb(51, 51, 51);}
.icon-structuringofdata .path2:before{content:"\e950";margin-left:-0.994140625em;color:rgb(255, 64, 0);}
.icon-structuringofdata .path3:before{content:"\e951";margin-left:-0.994140625em;color:rgb(255, 64, 0);}
.icon-structuringofdata .path4:before{content:"\e952";margin-left:-0.994140625em;color:rgb(51, 51, 51);}
.icon-structuringofdata .path5:before{content:"\e953";margin-left:-0.994140625em;color:rgb(255, 64, 0);}
.icon-structuringofdata .path6:before{content:"\e954";margin-left:-0.994140625em;color:rgb(51, 51, 51);}