<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>

		<!--for local
		<add key="Slash" value="/" />-->
		<!--for live-->
		<add key="Slash" value="" />

		<!--for local
		<add key="RewriteSlash" value="" />-->
		<!--for live-->
		<add key="RewriteSlash" value="/" />
		
		<add key="GrdPageSize" value="10" />
		<add key="DefaultStringParameterValue" value="!" />
		<add key="DefaultIntParameterValue" value="0" />
		<add key="AdminMailID" value="info@medicalbillersandcoders.com" />
		<add key="DisplayName" value="Admin" />
		<add key="CC" value="" />
		<add key="BCC" value="prerna@meddatacarepro.com,savitri@meddatacarepro.com,kunal@meddatacarepro.com" />
		<add key="TO_CRM_SEO_Scheduler" value="andersen.k@meddatacarepro.com,prajakta@meddatacarepro.com,micheld@meddatacarepro.com,j.developer@meddatacarepro.com"/>
		<add key="DomainName" value="http://www.medicalbillersandcoders.com/" />

		<add key="ReportUserName" value="admin" />
		<add key="ReportPassword" value="mdcp@Feb2015" />
	</appSettings>
	<connectionStrings>
		<!--<add name="strings" connectionString="Data Source=70.87.28.215;Initial Catalog=medicalbandc;Persist Security Info=True;User ID=medical;Password=Vudp&amp;3Hnq*" />-->
		<!--<add name="strings" connectionString="Data Source=173.248.158.151,1533;Initial Catalog=MedicalBillersAndCoders;Persist Security Info=True;User ID=sa;Password=L4b7~$+9" />-->
		<!--<add name="strings" connectionString="Data Source=173.248.158.151,1533;Initial Catalog=MedicalBillersAndCoderRedesign;Persist Security Info=True;User ID=sa;Password=Dc#5!2z@" />-->
		<!--<add name="strings" connectionString="Data Source=68.67.77.42;Initial Catalog=medicalbandc;Persist Security Info=True;User ID=medical;Password=Vudp&amp;3Hnq*" />-->
    <add name="strings" connectionString='Data Source=173.248.158.151,1533;Initial Catalog=MedicalBillersAndCodersMergeData;Persist Security Info=True;User ID=sa;Password=5)s{JCqcN"tU/#vC' />
	</connectionStrings>
	<system.web>
		<machineKey decryptionKey="07BAA0BC0017816ABFA634F7C63A7C0AE3EE8FC10F629845,IsolateApps" validationKey="1787DBCABE396E8C894DE454F1741BCEED1A14C134F68B254FB0AB39FAC72ABFE2A975640AAE3EED7C7814C9F459B8D35F675CE7AD52B5D3227A1A5BC4419883,IsolateApps" />
		<compilation debug="true" defaultLanguage="c#">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<!--<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
				<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Build.Framework, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
			<buildProviders>
			        <!--<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
			</buildProviders>
		</compilation>		
		<customErrors defaultRedirect="/error.aspx" mode="Off">
			<error statusCode="404" redirect="/Rewrite.aspx" />
		</customErrors>
		<pages validateRequest="false" viewStateEncryptionMode="Never">
			<controls>
				<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add src="~/Usercontrols/Categories.ascx" tagPrefix="lcat" tagName="cat" />
				<add src="~/Usercontrols/PopularCountries.ascx" tagPrefix="lcnt" tagName="pop" />
				<add src="~/Usercontrols/Contactform.ascx" tagPrefix="lct" tagName="cont" />
				<add src="~/Usercontrols/Set_of_Requirement.ascx" tagPrefix="CP" tagName="SetRequirements" />
				<add src="~/Usercontrols/SearchLeft.ascx" tagPrefix="Search" tagName="left" />
				<add src="~/usercontrols/CategoryList.ascx" tagPrefix="CP" tagName="CategoryList" />
				<add src="~/usercontrols/PopularCitylist.ascx" tagPrefix="CP" tagName="CityList" />
				<add src="~/usercontrols/Registration.ascx" tagPrefix="CP" tagName="RegForm" />
				<add src="~/usercontrols/Enrollform.ascx" tagPrefix="CP" tagName="RegForm1" />
				
					<add src="~/usercontrols/Set_of_Requirement2.ascx" tagPrefix="CP" tagName="SetRequirements2" />
				<!--<add src="~/usercontrols/Enroll2.ascx" tagPrefix="CP" tagName="RegForm2" />
                <add src="~/usercontrols/Enroll3.ascx" tagPrefix="CP" tagName="RegForm3" />-->
				<add src="~/usercontrols/StateList.ascx" tagPrefix="CP" tagName="State" />
				<add src="~/usercontrols/PressReleaseList.ascx" tagPrefix="CP" tagName="Presslst" />
				<add src="~/usercontrols/Search.ascx" tagPrefix="CP" tagName="Searchbox" />
				<add src="~/usercontrols/PopCityIndexListing1.ascx" tagPrefix="CP" tagName="PopCitylist" />
				<add src="~/Usercontrols/SearchNew.ascx" tagPrefix="SearchNew" tagName="left" />
				<add src="~/Usercontrols/SearchHome.ascx" tagPrefix="SearchHome" tagName="left" />
				<add src="~/usercontrols/CategoryList1.ascx" tagPrefix="CP" tagName="CategoryList1" />
				<add src="~/usercontrols/StateList1.ascx" tagPrefix="CP" tagName="State1" />
				<add src="~/usercontrols/Enrollform1.ascx" tagPrefix="CP" tagName="RegForm2" />
				<add src="~/Usercontrols/SearchNew1.ascx" tagPrefix="SearchNew" tagName="left1" />
				<add src="~/Usercontrols/ArticlesList.ascx" tagPrefix="lst" tagName="Article" />
				<add src="~/Usercontrols/PressReleaseList1.ascx" tagPrefix="lst" tagName="press" />
				<add src="~/Usercontrols/SoftwareList.ascx" tagPrefix="lst" tagName="softwarelist" />
				<add src="~/Usercontrols/Social_Sites.ascx" tagPrefix="CP" tagName="social_logo" />
				<add src="~/Usercontrols/CampainForm.ascx" tagPrefix="CP" tagName="CampainForm" />
				<add src="~/Usercontrols/rss_cityList.ascx" tagPrefix="CP" tagName="rssCitylist" />
				<add src="~/usercontrols/enrollform3.ascx" tagPrefix="CP" tagName="RegForm3" />
				<add src="~/Usercontrols/ConfPaging.ascx" tagPrefix="lst" tagName="Confpage" />
				<add src="~/Usercontrols/ArticlePaging.ascx" tagPrefix="lst" tagName="Artpage" />
				<add src="~/Usercontrols/NLPaging.ascx" tagPrefix="lst" tagName="NLpage" />
				<add src="~/Usercontrols/CampainForm1.ascx" tagPrefix="CP" tagName="CampainForm1" />
				<add src="~/Usercontrols/CampainForm2.ascx" tagPrefix="CP" tagName="CampainForm2" />
				<add src="~/Usercontrols/CampainForm3.ascx" tagPrefix="CP" tagName="CampainForm3" />
				<add src="~/Usercontrols/presslistpaging.ascx" tagPrefix="lst" tagName="presspage" />
				<add src="~/Usercontrols/Soft-Menulist.ascx" tagPrefix="lst" tagName="softmenu" />
				<add src="~/Usercontrols/EventListing.ascx" tagPrefix="lst" tagName="events" />
				<add src="~/Usercontrols/TopArticleList.ascx" tagPrefix="lst" tagName="toparticles" />
				<add src="~/usercontrols/CityListPaging.ascx" tagPrefix="CP" tagName="Citylistpage" />
				<add src="~/Usercontrols/CatHomepageList.ascx" tagPrefix="lst" tagName="SpHome" />
				<add src="~/Usercontrols/StateHomePageList.ascx" tagPrefix="lst" tagName="StateHome" />
				<add src="~/Usercontrols/CityHomePagelist.ascx" tagPrefix="lst" tagName="CityHome" />
				<add src="~/Usercontrols/Set_of_Requirement1.ascx" tagPrefix="CP" tagName="SetRequirements1" />
				<add src="~/Usercontrols/Social_Sites1.ascx" tagPrefix="CP" tagName="social_logo1" />
				<add src="~/usercontrols/SpcialtyListingpage.ascx" tagPrefix="CP" tagName="Catlistpage" />
				<add src="~/usercontrols/StateListingpage.ascx" tagPrefix="CP" tagName="Statelistpage" />
				<add src="~/Usercontrols/EMR_SoftwareListing.ascx" tagPrefix="lst" tagName="EMRPage" />
				<add src="~/Usercontrols/EMR_LeadForm.ascx" tagPrefix="CP" tagName="EmrLeads" />
				<add src="~/usercontrols/emrCategories.ascx" tagPrefix="CP" tagName="emrSP" />
				<add src="~/Usercontrols/FAQQuestionList.ascx" tagPrefix="CP" tagName="faqList" />
				<add src="~/Usercontrols/PopularQuest.ascx" tagPrefix="CP" tagName="faqTopList" />
				<add src="~/CRM/Usercontrol/TopMenu.ascx" tagPrefix="Mnu" tagName="CRMTOPMenu" />
				<add src="~/Usercontrols/EMRRequestforPricing.ascx" tagPrefix="CP" tagName="EmrPricing" />
				<add src="~/Usercontrols/ICD-10Grid.ascx" tagPrefix="CP" tagName="icdgrid" />
				<add src="~/CRM/Usercontrol/NewLeadList.ascx" tagPrefix="crm" tagName="newleadlist" />
				<add src="~/CRM/Usercontrol/Upcomming_ReminderList.ascx" tagPrefix="crm" tagName="reminders" />
				<add src="~/CRM/Usercontrol/ClosedLeads.ascx" tagPrefix="crm" tagName="Pipeline" />
				<add src="~/Usercontrols/GuestArticles.ascx" tagPrefix="frm" tagName="guestArticle" />
				<add src="~/Usercontrols/ICDsubmitQueries.ascx" tagPrefix="frm" tagName="sendqry" />
				<add src="~/Usercontrols/MBSLeadForm.ascx" tagPrefix="frm" tagName="MBSLead" />
				<add src="~/Usercontrols/joblist.ascx" tagPrefix="lst" tagName="joblist" />
				<add src="~/Usercontrols/getpostings.ascx" tagPrefix="lst" tagName="getposting" />
				<add src="~/Usercontrols/SurveyLogin.ascx" tagPrefix="frm" tagName="SurveyLogin" />
				<add src="~/Usercontrols/similarJobs.ascx" tagPrefix="lst" tagName="getsimilarjobs" />
				<add src="~/Usercontrols/JobAlert.ascx" tagPrefix="lst" tagName="joballert" />
				<add src="~/usercontrols/Reciprocallinkslisting.ascx" tagPrefix="CP" tagName="Reciprocallinkspage" />
				<add src="~/Usercontrols/CMSUpdateList.ascx" tagPrefix="lst" tagName="cmsUpdates" />
				<add src="~/Usercontrols/coding_updatelist.ascx" tagPrefix="lst" tagName="codingUpdates" />
				<add src="~/Usercontrols/Glossary.ascx" tagPrefix="lst" tagName="GlossaryPage" />
				<add src="~/Usercontrols/apply_toJob.ascx" tagPrefix="frm" tagName="applyjob" />
				<add src="~/Usercontrols/BillingInsights.ascx" tagPrefix="lst" tagName="BIpage" />
				<add src="~/Usercontrols/experPanel.ascx" tagPrefix="lst" tagName="expertPanel" />
				<add src="~/Usercontrols/uploadresume.ascx" tagPrefix="frm" tagName="uploadResume" />
				<add src="~/Usercontrols/popupLeadForm.ascx" tagPrefix="frm" tagName="popupForm" />
				<add src="~/Usercontrols/lefthandside_prList.ascx" tagPrefix="lpr" tagName="PR" />
				<add src="~/Usercontrols/spguidelinelist.ascx" tagPrefix="lst" tagName="spgl" />
				<add src="~/Usercontrols/centerlieadform.ascx" tagPrefix="frm" tagName="centerleadform" />
				<add src="~/Usercontrols/regbiller_form.ascx" tagPrefix="frm" tagName="regbiller" />
				<add src="~/Usercontrols/spguidelineform.ascx" tagPrefix="frm" tagName="spglfrm" />
				<add src="~/Usercontrols/AlliedJobs_marquee.ascx" tagPrefix="lst" tagName="aljobmarquee" />
				<add src="~/Usercontrols/profilelist.ascx" tagPrefix="lst" tagName="profilelist" />
				<add src="~/Usercontrols/splandingpageform.ascx" tagPrefix="frm" tagName="splandingpageform" />
				<add src="~/Usercontrols/splandingpageICD10form.ascx" tagPrefix="frm" tagName="splandingpageICD10form" />
				<!--<add tagPrefix="cwc" namespace="CustomControls.UI.WebControls" assembly="App_Code\Captcha"/>-->
			        <add src="~/Usercontrols/ClientTestimonial.ascx" tagPrefix="CT" tagName="ClientTestimonial" />
			        <add src="~/Usercontrols/SubscribeToIcd-10Training.ascx" tagPrefix="Form" tagName="SubscribeToIcd10Training" />
			        <add src="~/Usercontrols/Blog.ascx" tagPrefix="Ctrl" tagName="Blog" />
				<add src="~/Usercontrols/SubscribeToOurNewsLetter.ascx" tagPrefix="Ctrl" tagName="SubscribeToOurNewsLetter" />

      </controls>
		</pages>
		<httpHandlers>
			<add verb="GET" path="CaptchaImage.axd" validate="true" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
			<remove verb="*" path="*.asmx" />
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
			<!--<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />-->
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<!--<add name="BlockIP" type="BlockIP"/>-->
		</httpModules>
        <identity impersonate="true" />
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="OptionInfer" value="true" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<!-- answers
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<!--To always remove trailing slash from the URL
		<rule name="Remove trailing slash" stopProcessing="true">
		      <match url="(.*)/$" />
		      <conditions>
		        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
		        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
		      </conditions>
		      <action type="Redirect" redirectType="Permanent" url="{R:1}" />
	    	</rule>-->
		<staticContent>
			<clientCache cacheControlMaxAge ="2.00:00:00" cacheControlMode="UseMaxAge" />
	      	</staticContent>
		<httpErrors errorMode="Custom">
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="/Rewrite.aspx" responseMode="ExecuteURL" />
		</httpErrors>

		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</handlers>
		<defaultDocument>
			<files>
                <clear />
                <add value="/" />
                <add value="default.aspx" />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
			</files>
		</defaultDocument>
		<directoryBrowse enabled="false" showFlags="Date, Time, Size, Extension" />
        <httpRedirect enabled="false" destination="" exactDestination="false" />
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="/default.aspx" />
            </rewriteMaps>
        </rewrite>

	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.net>
		<mailSettings>
			<smtp from="sumant@ilovepuneclub.com">
				<network host="173.248.158.151" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
