<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="/"/>
        <add value="index.php"/>
        <add value="iisstart.htm"/>
        <add value="index.html"/>
        <add value="index.htm"/>
        <add value="default.aspx"/>
        <add value="home.aspx"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
			<rule name="WordPress: http://www.innitialliance.com/blog" patternSyntax="Wildcard">
				<match url="*"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
				<action type="Rewrite" url="index.php"/>
			</rule></rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <identity impersonate="true"/>
  </system.web>
</configuration>
